::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #212121; /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #000; /* Color of the scrollbar thumb */
  border-radius: 6px; /* Rounded corners of the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar thumb on hover */
}
