@tailwind base;
@tailwind components;
@tailwind utilities;
.custom-card {
  @apply sm:w-[60%] p-2 sm:p-4  rounded-xl   flex flex-col items-center justify-center  shadow-md shadow-slate-700 cursor-pointer hover:text-secondaryText border-border border-2;
}
.custom-card .emoji {
  @apply text-3xl sm:text-4xl  whitespace-nowrap;
}
.custom-card .label {
  @apply font-bold sm:text-xl text-base pt-3  sm:pt-0 sm:mt-10;
}
.loader {
  width: 45px;
  aspect-ratio: 0.75;
  --c: no-repeat linear-gradient(#333 0 0);
  background: var(--c) 0% 50%, var(--c) 50% 50%, var(--c) 100% 50%;
  background-size: 20% 50%;
  animation: loading 1s infinite linear;
}

@keyframes loading {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
} 